.container {
  text-align: center;
  padding: 20px;
  background-color: #fff5e1;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.imageWrapper {
  margin: 20px auto;
  width: 60%;
  height: 500px;
  background-color: #f9f9f9;
  border: 2px solid #d7d7d7;
  border-radius: 8px 0 0 8px; /* 左の角を丸くする */
}


.welcomePopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(253, 242, 178, 0.9);
  padding: 30px;
  border: 3px solid #000;
  border-radius: 15px;
  font-size: 50px; /* より大きくする */
  color: #17db38;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.form {
  margin-top: 20px;
}

.lives {
  font-size: 30px;
  color: red;
  margin-bottom: 10px;
  margin-left: 900px;
}

.inputAndButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 50%;
  padding: 20px;
  font-size: 16px;
  border: 2px solid #d7d7d7;
  border-radius: 8px 0 0 8px; /* 左の角を丸くする */
  border-right: none; /* ボタンとの境界線をなくす */
}

.button {
  background-color: #ff5b5b;
  color: white;
  font-size: 16px;
  padding: 19px 25px;
  border: none;
  border-radius: 0 8px 8px 0; /* 右の角を丸くする */
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e04444;
}

.message {
  /* margin-top: 20px; */
  font-size: 100px;
  color: #e04444;
  font-weight: bold;
}

.messageContainer {
  position: fixed; /* 画面に固定 */
  top: 270px; /* キャンパスの上に配置 */
  left: 50%; /* 中央に配置 */
  transform: translateX(-50%); /* 中央揃え */
  font-size: 20px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}

.message {
  margin: 0;
}
