.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fdf4dc;
  }
  
  .title {
    font-size: 48px; /* タイトルのフォントサイズを大きく */
    font-weight: bold;
    margin-bottom: 50px; /* タイトルと入力フィールドの間隔を調整 */
  }
  
  .inputContainer {
    display: flex;
    align-items: center;
  }
  
  .input {
    width: 400px; /* 入力フィールドの幅を広く */
    height: 80px; /* 入力フィールドの高さ */
    font-size: 50px; /* 入力フィールド内文字のサイズ */
    padding: 0 15px; /* パディングを追加して余裕を持たせる */
    margin-right: 20px;
    border: 2px solid #ccc; /* 境界線のスタイルを追加 */
    border-radius: 8px; /* 入力フィールドの角を丸く */
    box-sizing: border-box; /* ボックスサイズを整える */
  }
  
  .joinButton {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 30px; /* ボタンの内側スペースを大きく */
    font-size: 40px; /* ボタンの文字サイズ */
    cursor: pointer;
    border-radius: 8px; /* ボタンの角を丸く */
    transition: transform 0.2s ease, background-color 0.2s ease; /* ホバーアニメーション */
  }
  
  .joinButton:hover {
    background-color: #3e8e41; /* ホバー時のボタン色 */
    transform: scale(1.1); /* ホバー時の拡大 */
  }
  