.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fdf4dc;
}

.title {
  font-size: 80px; /* タイトルをさらに大きく */
  font-weight: bold;
  margin-bottom: 60px;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.createButton {
  background-color: #ff5c5c;
  color: white;
  border: none;
  padding: 20px 40px; /* ボタンをさらに大きく */
  font-size: 36px; /* ボタンの文字サイズをさらに大きく */
  cursor: pointer;
  border-radius: 10px; /* ボタンの丸みを調整 */
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.createButton:hover {
  background-color: #e64545; /* ホバー時の背景色 */
  transform: scale(1.15); /* ホバー時に少し大きく */
}

.joinButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 20px 40px; /* ボタンをさらに大きく */
  font-size: 36px; /* ボタンの文字サイズをさらに大きく */
  cursor: pointer;
  border-radius: 10px; /* ボタンの丸みを調整 */
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.joinButton:hover {
  background-color: #3e8e41; /* ホバー時の背景色 */
  transform: scale(1.15); /* ホバー時に少し大きく */
}

.orText {
  font-size: 36px; /* テキストサイズをさらに大きく */
  margin: 0 40px; /* ボタン間の間隔をさらに広げる */
  color: #333;
  font-weight: bold; /* 太字を維持 */
}
